input, textarea {
  color: darken(darkgrey, 50);
  padding: 0.5rem;
  border-radius: 0.25rem;
  background: lighten(lightgray, 10);
  outline: none;
  border: 0 none;
  &:hover {
    background: lighten(lightgray, 5);
  }
  &:focus {
    background: lighten(lightgray, 3);
  }
  &::placeholder {
    color: darkgrey;
  }
}